################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PipelineBoilerplate/DesignTimeBuild
*.v1
*.suo
/.vs/PipelineBoilerplate/project-colors.json
*.user
